# Project related
cache/
data/
figs/
.inactive/
ipynb/figs/
old*/
unstratified/BA/performance/
*.athdf
*.bbl
*.json
*.npz
*.pdf
*.png
*.pyc
*.tar
*.tex
*.zip

# VS Code
.github/
notes/
*.code-workspace
CLAUDE.md
